pip install requests
pip install pandas
pip install python-dotenv
pip install openpyxl
pip install streamlit
pip install geopandas
pip install psycopg2
pip install numpy
pip install ijson
pip install datasets
pip install streamlit_option_menu
#pip install langdetect